.blue {font-weight:bold; color:blue}

div.webpresence {background: #F5F5F5; border-radius: 15px; padding: 5px 5px; margin: 5px; float: left; border-width:2px; border-color:#DDDDDD; border-style: solid}
.webpresence p {text-align:left;font-size:small; margin-top:3px; margin-bottom: 3px;}
div.clear {clear: both;}
h2.head{text-align:center; font-size:large; font-weight:bold; margin-top: 5px; margin-bottom:5px; color:green}
h1.maintitle {text-align:center; font-size:xx-large; font-weight:bold; color:green}
#ourweb {float: left; width:25%;}
#about {background: #F5F5F5; width:70%; border-radius: 25px; padding: 10px 10px; margin 1%; float:left; border-style: solid; border-width:3px; border-color:#DDDDDD}
#topbanner {background:yellow}
.head a {color: inherit}

img.right   {float: right; margin: 10px; width:40%}
img.left    {float: left; margin: 10px; width:30%}
img.bottom  {width:30%; margin: 10px;}
